*,
*:before,
*:after {
  box-sizing: inherit;
}

button {
  margin-bottom: 4rem;
}

#table-container {
  display: flex;
  justify-content: flex-start;
  margin: auto;
  max-height: 640px;
  max-width: calc(100% - 4rem);
  outline: 2px solid #000000;
  overflow-x: auto;
  scrollbar-width: thin;
  width: max-content;
}

#table-container table {
  background-color: #ffffff;
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed;
}

#table-container thead th {
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
}

#table-container thead .headings th {
  color: #ffffff;
  background: #121212;
  top: 0;
}

#table-container thead .averages th {
  background-color: lightgray;
  top: 18px;
}

#table-container thead th.double-pinned {
  z-index: 2;
}

#hitting-table th,
#hitting-table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pinned:first-of-type {
  min-width: 54px;
  text-align: left;
  width: 54px;
}

.pinned {
  padding-left: 4px;
  text-align: left;
}

.name {
  min-width: 204px;
  width: 204px;
}

.position {
  min-width: 54px;
  width: 54px;
}

.team {
  border-right: 2px solid #000000;
  min-width: 54px;
  width: 54px;
}

.stat {
  min-width: 54px;
  padding-right: 4px;
  text-align: right;
  width: 54px;
}

thead th.pinned:first-of-type,
tbody th.pinned:first-of-type {
  left: 0;
  position: -webkit-sticky;
  position: sticky;
}

thead th.pinned:nth-of-type(2),
tbody th.pinned:nth-of-type(2) {
  background-color: #ffffff;
  left: 54px;
  position: -webkit-sticky;
  position: sticky;
}

thead th.pinned:nth-of-type(3),
tbody th.pinned:nth-of-type(3) {
  background-color: #ffffff;
  left: 258px;
  position: -webkit-sticky;
  position: sticky;
}

thead th.pinned:nth-of-type(4),
tbody th.pinned:nth-of-type(4) {
  background-color: #ffffff;
  left: 312px;
  position: -webkit-sticky;
  position: sticky;
}

thead th.pinned {
  z-index: 2;
}

tbody th.pinned {
  z-index: 1;
}

tbody tr * {
  outline: 1px solid rgba(0, 0, 0, 0.1);
}
