*,
*:before,
*:after {
  box-sizing: inherit;
}

.fetching-container {
  align-items: center;
  display: flex;
  justify-content: center;
  max-width: 100%;
  height: 100vh;
  width: 100vw;
}

h1 {
  margin: 0 auto;
}

.description {
  margin: 0 auto;
  ul {
    padding: 0;
  }
  ul li {
    margin: 0.5rem 0;
  }
}

.filters {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: space-between;
  div {
    align-items: center;
    display: flex;
    margin-bottom: 0.5rem;
    label {
      font-weight: bold;
      margin-right: 0.5rem;
      width: 100px;
    }
    select {
      background-color: rgba(0, 0, 0, 0.1);
      border: none;
      border-right: 4px solid transparent;
      font-family: "Ubuntu Mono", monospace;
      font-size: 1rem;
      padding: 0.125rem 0.25rem;
    }
  }
}

h1,
.description,
.filters {
  max-width: 960px;
  width: calc(100% - 2rem);
}

#placeholder {
  display: flex;
  justify-content: flex-start;
  height: 640px;
  margin: 1.5rem auto 2rem;
  max-width: 960px;
  width: calc(100% - 2rem);
}

#hitting-table-container,
#pitching-table-container {
  display: flex;
  justify-content: flex-start;
  margin: 1.5rem auto 2rem;
  max-height: 640px;
  max-width: 960px;
  outline: 2px solid #000000;
  overflow: scroll;
  position: relative;
  scrollbar-width: thin;
  width: calc(100% - 2rem);
  /* reduces slight shifting of pinned columns on horizontal scroll on desktop */
  will-change: transform;
}

#hitting-table-container table,
#pitching-table-container table {
  background-color: #ffffff;
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed;
}

#hitting-table-container thead th,
#pitching-table-container thead th {
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
}

#hitting-table-container thead .headings th,
#pitching-table-container thead .headings th {
  color: #ffffff;
  background: #121212;
  top: 0;
}

#hitting-table-container thead .averages th,
#pitching-table-container thead .averages th {
  background-color: lightgray;
  top: 18px;
}

#hitting-table-container table thead th.double-pinned,
#pitching-table-container table thead th.double-pinned {
  z-index: 2;
}

table th,
table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pinned:first-of-type {
  min-width: 65px;
  text-align: left;
  width: 65px;
}

.pinned {
  padding-left: 4px;
  text-align: left;
}

.pinned > button {
  align-items: center;
  background-color: transparent;
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  font-family: "Ubuntu Mono", monospace;
  font-size: 1rem;
  font-weight: bold;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  width: 100%;
  > img {
    height: 1rem;
    width: 1rem;
  }
}

.pinned > button:hover {
  color: rgba(255, 255, 255, 0.8);
}

.pinned.name > button > span {
  margin-right: auto;
}

.pinned:not(.name) > button > span {
  margin-left: auto;
}

th.name {
  div {
    align-items: center;
    display: flex;
    span:first-of-type {
      margin-right: auto;
      max-width: 305px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .awards {
      margin-left: 1rem;
      padding-right: 4px;
      img {
        height: 16px;
        margin-left: 2px;
        width: 16px;
      }
    }
  }
}

.name {
  min-width: 250px;
  max-width: 250px;
  width: 250px;
}

.position {
  min-width: 65px;
  width: 65px;
}

.team {
  min-width: 65px;
  width: 65px;
}

.stat {
  min-width: 65px;
  padding-right: 4px;
  text-align: right;
  width: 65px;
}

thead th.pinned:first-of-type,
tbody th.pinned:first-of-type {
  left: 0;
  position: -webkit-sticky;
  position: sticky;
}

thead th.pinned:nth-of-type(2),
tbody th.pinned:nth-of-type(2) {
  background-color: #ffffff;
  left: 65px;
  position: -webkit-sticky;
  position: sticky;
}

thead th.pinned:nth-of-type(3),
tbody th.pinned:nth-of-type(3) {
  background-color: #ffffff;
  left: 315px;
  position: -webkit-sticky;
  position: sticky;
}

thead th.pinned:nth-of-type(4),
tbody th.pinned:nth-of-type(4) {
  background-color: #ffffff;
  left: 380px;
  position: -webkit-sticky;
  position: sticky;
}

thead th.pinned {
  z-index: 2;
}

tbody th.pinned {
  z-index: 1;
}

tbody tr > * {
  outline: 1px solid rgba(0, 0, 0, 0.1);
}

#hitters-legend,
#pitchers-legend {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0 auto;
  max-width: 960px;
  width: calc(100% - 2rem);
  div {
    align-items: center;
    display: flex;
    img {
      height: 1rem;
      margin-right: 1rem;
      width: 1rem;
    }
  }
}

@media (max-width: 768px) {
  .filters {
    div {
      align-items: flex-start;
      flex-direction: column;
      label {
        margin-bottom: 0.25rem;
      }
    }
  }
  thead th.pinned:first-of-type,
  tbody th.pinned:first-of-type,
  thead th.pinned:nth-of-type(2),
  tbody th.pinned:nth-of-type(2),
  thead th.pinned:nth-of-type(3),
  tbody th.pinned:nth-of-type(3),
  thead th.pinned:nth-of-type(4),
  tbody th.pinned:nth-of-type(4) {
    left: auto;
  }
}
